<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rock-i-pedia</title>
</head>

<body>
    {{{ body }}}

    <style media="screen">
        body {
            background-color: azure;
            background-image: url("");
            background-position: top;
            margin-bottom: 10px;
            padding: 10px;
            width: 50%;
            font-family: sans-serif;
        }

        h1,
        h4 {
            text-align: center;
            text-shadow: 2px 2px 4px pink;
        }
    </style>
</body>

</html>