<style media="screen">
  body {
    background-color: azure;
    background-image: url("");
    background-position: top;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
    font-family: sans-serif;
  }
  h1, h4 {
      text-align: center;
  }
</style>


<h1>The band's name is {{name}}.</h1>
<h4>There are {{members}} in {{name}}.</h4>
<h4>Their best song is {{bestsong}}.</h4>